# Overview

## What is Eyowo Payment Service?

Eyowo is first of its kind payment solution, and our service only banks on your user's phone numbers. 

Documentation has been well-thought through to give you a quality developer experience. Cheers! 🎉 🍻


## Why Eyowo Payment Service?

- **Security:** Your users are guaranteed 100% financial security as their credit card details are never exposed or used. 

- **Seamlessly Integration:** Eyowo engineers have made integrating Eyowo seamless with the use of RESTful APIs.

- **Battle Tested:** Eyowo Payment Service runs on a battle-tested server. At Eyowo understand how a failed payment can be daunting to your users, we've deployed our services on servers that can process millions of requests in milliseconds. 

## How Eyowo Payment Service Works?

We understand how users can be sceptical with supplying bank information and how they give up on using your platforms because of this.

Eyowo doesn't bother about bank information when it comes to solving payment problems. No credit or debit card needed when deploying Eyowo as your preferred payment solution. 

Your users supply their phone number on sign up. And we take care of setting up an Eyowo account for your users while delivering a smooth payment contract on your behalf.

# Basic Integrations

Adding Eyowo in your application, the guide will help:

- Integrate Eyowo Payment Service for your application
- Test Eyowo Payment Service

## Set Up Your Developer Environment

### Create A User's Account 

To start using Eyowo as a developer, you first need to be to set up a user's account. 
Users account are associated with an Eyowo Wallet which you will need to add in your developer dashboard. 
The user's account is also where you will enable developer mode. 

1. Visit eyowo.com and enter your phone
2. Click on the Get Started button
3. Choose a password and enter the OTP sent to you

### Activating Developers Mode

The developer acknowledges the users as a developer and adds some extra privileges to your account.

1. Visit app.eyowo.com and ensure you are logged in
2. Click on the profile image on the top right of your user's dashboard.
3. Click on settings
4. Enable developer mode

### Deactivating Developers Mode

Toggle the Developer Mode button to deactivate. Note, you lose developer privileges once the action is performed. 

## Managing Developer Account

**Creating a Developer's Account**

You'll need a separate developer's account to use Eyowo Payment Service as a developer. Some features of your developer's account:

- Create an application 
- Obtain application credentials for HTTP requests

To do this:

1. Visit <a href=" https://developer.eyowo.com" target="_blank">https://developer.eyowo.com</a>
2. Create an account using your email and choose a password

### Adding an Application and Wallet

This project/application are unique and have separate credentials like

- Application Keys
- Application Secret

To do this:

1. Click on add an application
2. Click add a wallet

<aside class="warning">Note: Your wallet's credential is usually the phone number you used in creating your Eyowo user's account.</aside>


### Deleting or Change Wallet

If you've entered different Eyowo Wallet details (the phone number used in creating the user's account), you can update the wallet by:

- Click on the 'x' button
- Accept the prompts that follow
- Either delete or add a new wallet

Deleting An Application
Deleting an application you longer want to have come easy too. 

- Click on settings from your developer dashboard
- Navigate to delete the application 
- Follow the prompts to complete deletions

<aside class="warning">Note: There are no recovery processes once an application gets deleted.</aside> 

# Community SDKs (coming soon)

 



